<div class="middle_bar">
	<div class="panel_top">
		<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB_CAPABILITIES'}"></h2>
	</div>
	<div class="panel_center">
		<div class="fields">
			<div class="fieldset">
				<!-- ko foreach: aCapabilities -->
				<div class="row"> 
					<span class="value" style="display: block; float: left; margin-right: 10px;">
						<label class="custom_checkbox" data-bind="css: {'checked': enabled}">
							<span class="icon"></span>
							<input type="checkbox" data-bind="checked: enabled, attr: {'id': 'enabled_' + Name}" />
						</label>
						<label data-bind="text: DisplayName, attr: {'for': 'enabled_' + Name}"></label>
					</span>
					<span class="hint" data-bind="text: ' (' + Description + ')'"></span>
				</div>
				<!-- /ko -->
			</div>

			<div class="buttons">
				<span class="button" data-bind="click: saveCapabilitiesOfGroup, visible: !isSaving()">
					<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
				</span>
				<span class="button" data-bind="visible: isSaving()">
					<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
				</span>
			</div>
		</div>
	</div>
</div>
